html, body {
	width: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
}

#nav-header a, #nav-header a:hover, #nav-header a:visited {
	text-align: center;
	text-decoration: none;
	color: #393E46;
	font-size: 2em;
	font-weight: bolder;
	margin-left: 2%;
	text-shadow: 3px 3px #00ADB5;
}

#nav-header {
	margin: 0%;
}

.highlight {
	color: #00ADB5;
	text-shadow: 3px 3px #393E46;
}

.drop-menu, .search-bar {
	text-align: center;
	display: inline-block;
	margin: auto;
	color: white;
}

.drop-menu:hover .menu-items {
	display: block;
}

.drop-menu:hover {
	cursor: pointer;
	background-color: #00ADB5;
}

.drop-menu {
	width: 15%;
}

.menu-title {
	line-height: 3em;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 0.1em;
}

#nav-bar {
	background-color: #393E46;
	width: 100%;
	height: 3em;
}

.menu-items {
	display: none;
	position: absolute;
	width: 15%;
	background-color: #222;
}

a.menu-item {
	text-decoration: none;
	font-weight: lighter;
	display: block;
	line-height: 3em;
	text-align: center;
	padding: 1%;
	color: #393E46;
	background-color: #ddd;
}

a.menu-item:hover {
	background-color: #FC3C3C;
	color: white;
}

#search-bar {
	font-weight: bold;
	text-align: center;
	width: 35%;
	float: right;
}

#search-bar a, #search-bar a:visited {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: lighter;
	color: #00ADB5;
}

#search-bar form {
	width: 100%;
}

#search-bar input[type=text] {
	width: 70%;
	border: none;
	font-family: Arial, sans-serif;
	font-size: 1em;
	color: #393E46;
	padding: 0.5%;
	padding-bottom: 0%;
	margin: 1%;
	margin-bottom: 0%;
}

#search-bar input[type=submit] {
	background-color: #00ADB5;
	font-family: Arial, sans-serif;
	font-size: 1em;
	height: 1.5em;
	text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 2px;
}